<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/phpunit-book.html#appendixes.configuration -->
<phpunit
        backupGlobals = "false"
        backupStaticAttributes = "false"
        colors = "true"
        stopOnError = "true"
        stopOnFailure = "true"
        forceCoversAnnotation = "true"
        bootstrap = "./vendor/autoload.php">

    <testsuites>
        <testsuite>
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory suffix="Interface.php">./*</directory>
                <directory>./Exception</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Mockery\Adapter\Phpunit\TestListener" />
    </listeners>
</phpunit>
